/****** About Page ******/

.about-hero-img {
    background-image: url("../../images/barbell.jpg");
	background-color: #222222;
    background-position: center;
	min-height: 50%;
}

.metal-bg {
    background-image: url("../../images/metal_bg.jpg");
    background-size: cover;
}

.metal-bg p {
    color: #ffffff;
}

.metal-header {
    color: #ffffff;
    text-shadow: 5px 7px 4px #000000;
    padding: 10px;
}

.about-section p {
    font-weight: bold;
}

.about-section .metal-header {
    font-size: 3.5em;
}

.about-header > span {
    color: red;
}

.about-header-white {
    color: #ffffff;
    text-shadow: 3px 5px 4px #000000;
}

/****** Media Queries ******/
@media screen and (max-width: 1300px) {
    .about-section {
        margin-top: 80px;
    }
}

@media screen and (max-width: 560px) {
    .about-section .metal-header {
        font-size: 3em;
    }
}