/****** Contact page ******/

.contact-hero-img {
    background-image: url("../../images/call.jpg");
    background-color: #222222;
    background-position: center;
    min-height: 50%;
}

.contact-section .metal-header {
    font-size: 3.5em;
}

.contact-section p {
    font-weight: bold;
}

.contact-section h2 {
    text-align: left;
}

#contact-form label > span {
    color: red;
}

/*** Media Queries ***/
@media screen and (max-width: 560px) {
    .contact-section .metal-header {
        font-size: 2.5em;
    }
}