@font-face {
    font-family: life_is_okayregular;
    src: url("../fonts/life_is_okay/LifeIsOkay.eot"); /* IE9 */
    src: url("../fonts/life_is_okay/LifeIsOkay.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
         url("../fonts/life_is_okay/Life Is Okay.otf") format("opentype"),
         url("../fonts/life_is_okay/life_is_okay-webfont.ttf") format("truetype"),
         url("../fonts/life_is_okay/life_is_okay-webfont.woff") format("woff"),
         url("../fonts/life_is_okay/life_is_okay-webfont.woff2") format("woff2");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Ruda;
    src: url("../fonts/ruda/static/Ruda-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Saira;
    src: url("../fonts/saira/static/Saira-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Actor;
    src: url("../fonts/actor/Actor-Regular.ttf") format("truetype");
}

@font-face {
    font-family: pontano_sans;
    src: url("../fonts/pontano_sans/PontanoSans-Regular.ttf") format("truetype");
}

/* Universal Rules */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
	text-transform: uppercase;
}

section h1 {
	text-align: center;
	font-size: 3em;
	text-shadow: 1px 2px 1px #222222;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
/* /.Universal Rules */

/* Navbar */
#main-nav {
	background-color: #222222;
	color: white;
	font-size: 20px;
	width: 80px;
	height: 100%;
	position: fixed;
	box-shadow: 2px 0 3px #000000;
	transition: 0.4s;
	z-index: 3;
	left: 0;
	top: 0;
}

#main-nav > #nav-list > li {
    display: inline;
    list-style-type: none;
}

#main-nav > #nav-list > li > a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
	padding: 25px 20px;
	display: block;
}

#main-nav > #nav-list > li > a:hover {
	text-decoration: none;
	border-left: 3px solid red;
	color: orange;
}

#nav-list {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	padding: 0;
	list-style-type: none;
}

#nav-list > li > a > i {
	font-size: 2.5rem;
	width: 40px;
}

#nav-list > li > a > span {
	position: relative;
	bottom: 6px;
	display: inline;
	padding-left: 15px;
	margin: 0;
}

#nav-button {
	width: 70px;
	height: 70px;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #222222;
	color: #ffffff;
	cursor: pointer;
	z-index: 3;
	transition: 0.2s;
	display: none;
}

#nav-button i {
    margin: 25% 0 0 28%; /* left margin slightly bigger due to the box-shadow */
    font-size: 35px;
}
/* /.Navbar */

/* Overlay for darkening when nav is open */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}
/* /.Overlay */

/* Header */
.hero-img {
	background-image: url("../../images/matwork.jpg");
	background-color: #222222;
	min-height: 100%;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

.hero-text > h1 {
	font-size: 4em;
	text-shadow: 2px 2px #000000;
}
/* /.Header */

/* Product Range Section */
.product-range-section h1 > span {
	color: red;
}

.range-card-wrapper {
	background-color: rgba(0,0,0,0.1);
	padding: 15px;
	border-radius: 10px;
	box-shadow: 2px 3px 2px #000000;
}

.range-card-wrapper:hover {
	background-color: rgba(255,165,0,0.5);
}

.range-card h3, .range-card p, .range-card i {
	text-align: center;
}

.range-card p {
	font-family: pontano_sans, sans-serif;
}

.range-card i {
	font-size: 3em;
}
/* /.Product Range Section */

/* Featured Products Section */
.featured-products-section {
	background-image: url("../../images/deadlift.jpg");
	background-color: #222222;
	/* min-height: 100%; */
}

.featured-products-section h1 {
	color: #ffffff;
}

.featured-product > img {
	border-radius: 3px;
	box-shadow: 2px 2px 2px #000000;
}
/* /.Featured Products Section */

/* Footer */
footer {
	background-color: #222222;
	color: white;
}
/* /.Footer */

/* Media Queries */
@media screen and (max-width: 1250px) {
	.parallax {
		background-attachment: scroll;
	}
	
	#main-nav {
		left: -100%;
		width: 180px;
	}

	#nav-button {
		display: block;
		box-shadow: 4px 4px 3px #000000;
	}

	.hero-text > h1 {
		font-size: 3.5em;
	}

	section h1 {
		font-size: 2.5em;
	}
}

/* Change of image to fit the smaller orientation */
@media screen and (max-width: 700px) {
	.hero-img {
		background-image: url("../../images/ezbar.jpg");
	}
}

/* Change of image to fit the smaller orientation */
@media screen and (max-width: 576px) {
	.featured-products-section {
		background-image: url("../../images/kettlebell.jpg");
	}
}

@media screen and (max-width: 560px) {
	.hero-text > h1 {
		font-size: 2.2em;
	}

	section h1 {
		font-size: 2em;
	}
}
